@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('public\fonts\Montserrat-Italic-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

body {
  background-color: #f7f7f7;;
}

.section-tab {
  border: solid 1px rgba(0, 0, 0, 0.079);
}

/*.tabs > * {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.tabs > *:first-child {
    border-radius: 8px 0px 0px 0px;
  }
  
  .tabs > *:last-child {
    border-radius: 0px 0px 0px 8px;
    border-bottom: 1px solid #ccc;
  }*/
